<main>
    <div class="conteneur">
        <div class="row mt-5">
            <div class="col-4 offset-7 mt-5" >
                <p class="accroche">
                    <span>Brazil Burger </span>
                    <a class="navbar-brand" href="#"><img src="../../../assets/images/Artboard 1.png" alt="" style="width: 50px;"></a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-4 offset-7" >
                <p class="accroche">
                    <span>Délicieusement</span> rapide :<br>
                    mordez dans <span>la saveur !</span>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-4 offset-7" >
                <a [routerLink] = "['/catalogue']" class="btn btn-light">
                    COMMANDER
                </a>
            </div>
        </div>
    </div>
</main>
<!-- ======= Hero Section ======= -->
<!-- <app-carousel></app-carousel> -->
<!-- End Hero -->
