<nav class="navbar navbar-expand-lg d-flex justify-content-between align-items-center">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="../../../assets/images/Artboard 1.png" alt="" style="width: 50px;"></a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink] = "['/home']">Accueil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink] = "['/catalogue']">Catalogue</a>
            </li>
            <li class="nav-item">
              <!-- <li class="nav-item" *appHasRole="'ROLE_CLIENT'"> -->
              <a class="nav-link"  routerLinkActive="active" [routerLink]="isLogged ? ['/commandes'] : ['/auth/connexion']">Mes commandes</a>
            </li>
          </ul>
        </div>
    </div>
    <div style="margin-right: 50px;" class="d-flex align-items-end">
      <div class="d-flex flex-column" style="margin-right: 5px;">
        <span class="badge text-dark" style="margin-bottom: -6px; font-size: 10px;">{{ taillePanier }}</span>
        <span class="material-symbols-outlined" style="font-size:18px;" [routerLink] = "['/panier']">shopping_cart</span> 
      </div>
      <span class="material-symbols-outlined" (click)="logout()"*ngIf="isLogged">logout</span>
      <span class="material-symbols-outlined" *ngIf="!isLogged" [routerLink]="['/auth/connexion']">account_circle</span>
    </div>
</nav>