<div class="container mt-5 d-flex justify-content-center align-items-center w-50 flex-column" *ngIf="isLoaded">
    <ng-container *ngIf="livraisons.length > 0">
        <ng-container  *ngIf="(livraisons | filter: searchTerm) as result">
            <h4 class="mb-4">
                Liste des livraisons du {{ searchTerm | date:'dd-MM-yyyy' }}
                <i class="fa fa-plus icon align-top" [routerLink] = "['/admin/livraisons/new']" title="Ajout d'une livraison" data-toggle="tooltip" data-placement="top"></i>
            </h4>
            <table class="table table-hover caption-top" *ngIf="livraisons.length > 0">
                <caption class="mb-4 text-center"> 
                    <input type="date" id="input" class="form-control" [(ngModel)]="searchTerm">
                </caption>
                <ng-container *ngIf="result.length > 0">
                    <thead>
                        <tr>
                            <th>Livreur</th>
                            <th>Heure</th>
                            <th>État</th>
                            <th>Détails</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let liv of livraisons  | filter: searchTerm">
                            <ng-container>
                                <td>{{liv.livreur.prenom}} {{liv.livreur.nom}}</td>
                                <td>{{liv.date | date:'HH:mm' }}</td>
                                <td [style.color]="getColour(liv.etat)">
                                    {{liv.etat | formatEtat }}
                                    <span class="material-icons" style="font-size: 12px; margin-left: 5px;">{{getIcon(liv.etat)}}</span>
                                </td>
                                <td [routerLink] = "['/admin/livraisons', liv.id]"><span class="material-icons orange">remove_red_eye</span></td>
                            </ng-container>
                        </tr>
                    </tbody>
                </ng-container>
            </table>
            <ng-container *ngIf="result.length == 0">
                <h6 class="text-danger mt-3">Pas de livraison !</h6>
            </ng-container>
        </ng-container>
    </ng-container>

    <ng-container *ngIf="livraisons.length == 0">
        <h4 class="text-danger">Pas de livraison pour le moment !</h4>
    </ng-container>
</div>
<div class="spinner d-flex justify-content-center align-items-center" *ngIf="!isLoaded">
    <img src="../../../assets/spinner.gif" alt="spinner">
</div>
