.orange{
    cursor: pointer;
    &:hover{
        color: #E89448;
    }
}

.icon{
    color: #000;
    cursor: pointer;
    margin-left: 15px;
    background: #E89448;
    &:hover{
        color: white;
        background: #000;
    }
}

.orange-text{
    color: #E89448;
}