.orange{
    cursor: pointer;
    &:hover{
        color: #E89448;
    }
}

.orange-text{
    color: #E89448;
}

.icon{
    cursor: pointer;
    color: white;
    margin-left: 15px;
    background: #E89448;
    &:hover{
        background-color: black;
    }
}
