
 <div class="container mt-5">
    <!-- <div class="d-flex justify-content-between align-items-center border px-3 rounded-pill mb-5"> -->
        <!-- <div class="d-flex align-items-center">
            <span>Mon panier  </span>
            <span class="material-icons" style="font-size:18px; margin-left: 4px;">shopping_cart</span>
        </div>
        <span [routerLink]="['/catalogue']">Continuer mes achats ></span>
    </div> -->
    <div *ngIf="elements.length == 0" class="d-flex">
        <h3 class="text-danger">Votre panier est vide !</h3>
        <a [routerLink] = "['/catalogue']" class="btn btn-outline-dark mx-5">Catalogue > </a>
    </div>

    <div class="d-flex align-items-start justify-content-between" *ngIf="elements.length > 0">
        <table class="table table-hover" style="width:70%;">
            <thead style="padding: 40px;">
                <tr>
                    <th colspan="2">Produits</th>
                    <th>Prix unitaire</th>
                    <th>Quantité</th>
                    <th>Sous-total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let element of elements">
                    <td colspan="2"><img src="{{ element.image }}" alt="" style="width:40px; margin-right: 8px;"><span>{{ element.nom }}</span></td>
                    <!-- <td colspan="2"><img src="{{'data:image/jpg;base64,' + element.image }}" alt="" style="width:40px; margin-right: 8px;"><span>{{ element.nom }}</span></td> -->
                    <td>{{ element.prix }}</td>
                    <td>
                        <div id="{{element.id}}">
                            <span class="badge bg-dark px-1 py-0" style="margin-right: 5px;" (click)="plusOuMoins(element, 1)">+</span>
                            <span class="text-dark quantite" >{{element.quantite}}</span>
                            <span class="badge bg-dark px-1 py-0" style=" margin-left: 5px;" (click)="plusOuMoins(element, 0)" >-</span>
                        </div>
                    </td>
                    <td>{{ element.quantite  * element.prix}} FCFA</td>
                    <td><span class="material-icons" style="font-size: 15px;" (click)="delete(element)">delete</span></td>
                </tr>
            </tbody>
        </table>
        <div class="border w-25 p-5 d-flex flex-column">
            <div>
                <h5>Résumé du panier</h5>
                <p>Total: {{prixTotal}} FCFA</p>
                <p>Mode : </p>
            </div>
            <a class="btn btn-outline-dark mb-3">Valider</a>
            <a [routerLink] = "['/catalogue']" class="btn btn-outline-dark">Catalogue > </a>
        </div>
    </div>
</div>

