.disabled{
    cursor: not-allowed !important;
    background: rgba(128, 128, 128, 0.651) ;
    a,span{color: gray;}
    border : 1px solid gray;
    position: relative;
    &:hover
    {
        p{
            display: flex !important;
            position: absolute;
            font-size: 10px;
            right: 20px;
            bottom: 12px;
        }
    }
}

.col{
    input{
        margin-right: 10px;
    }
}

span{
    margin-right: 10px;
}