<div class="container mt-5" *ngIf="isLoaded">
    <h4 class="mb-4">
        Détails du livreur {{livreur.prenom}} {{livreur.nom}}
        <i [routerLink] = "['/admin/livreurs']" class="fa fa-list orange"  title="Liste des livreurs" data-toggle="tooltip" data-placement="top"></i>
    </h4>

    <div class="mb-2">
        <b><span class="orange-text">Matricule: </span></b><span>{{livreur.matriculeMoto}}</span><br>
    </div>

    <div class="mb-2">
        <b><span class="orange-text">Email: </span></b><span>{{livreur.email}}</span><br>
    </div>

    <div class="mb-2">
        <b><span class="orange-text">Disponibilité: </span></b>
        <span *ngIf="!livreur.isDisponible" class="text-danger p-0">Non disponible !</span>
        <span *ngIf="livreur.isDisponible" class="text-success p-0"> Disponible</span>
        <br>
    </div>

    <ng-container *ngIf="livreur.livraisons">
        <div class="mb-2">
            <b><span class="orange-text">Livraisons</span></b>
        </div>
        
        <table class="table table-hover w-50">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Détails</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let liv of livreur.livraisons">
                    <td>{{liv.id}}</td>
                    <td>{{liv.date | date:'dd/MM/yyyy HH:mm' }}</td>
                    <td [routerLink] = "['/admin/livraisons', liv.id]"><span class="material-icons orange">remove_red_eye</span></td>
                </tr>
            </tbody>
        </table>
    </ng-container>

    <ng-container *ngIf="!livreur.livraisons">
        <h4 class="text-danger">Pas encore de livraisons !</h4>
    </ng-container>
</div>
<div class="spinner d-flex justify-content-center align-items-center" *ngIf="!isLoaded">
    <img src="../../../assets/spinner.gif" alt="spinner">
</div>