.reduce{
    padding-top: 10px;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    img{
        height: 55px;
        width: 55px;
    }

    .btn{
        span{
            display: none;
        }
    }
}

.monlien{
    text-decoration: none;
    font-size: 14px;
    color: rgb(29, 27, 27);
    &:hover{ color: #fff;}
}

img{
    height: 200px;
    width: 200px;
}

.plusOne{
    visibility: hidden;
    position: absolute;
    bottom: 48px;
    left: 90px;
}

.plusOne.show{
    visibility: visible;
    background-color: #EAB708;
    animation-name: disappear;
    animation-duration: .5s;
}

@keyframes disappear {
    0%   { opacity: 1;  }
    25%  { opacity: .8; }
    50%  { opacity: .6; }
    75%  { opacity: .4; }
    100% { opacity: 0;  }
}

.rm{ display: none !important; }