.orange{
    cursor: pointer;
    &:hover{
        color: #EAB708;
    }
}

.icon{
    color: white;
    cursor: pointer;
    margin-left: 15px;
    background: #EAB708;
    &:hover{
        background: #000;
    }
}

.orange-text{
    color: #EAB708;
}

caption
{
    color: black;
}