.orange{
    cursor: pointer;
    &:hover{
        color: #EAB708;
    }
}
.orange-text{
    color: #EAB708;
}


.icon{
    cursor: pointer;
    margin-left: 15px;
    &:hover{
        color: white;
        background: #EAB708;
    }
}

button{
    &:disabled
    {
        cursor: not-allowed;
    }
}
