<!-- <app-header [receiveInfo] = "receive"></app-header> -->
<div class="container d-flex justify-content-center align-items-center" *ngIf="!isLoaded">
    <img src="" alt="" srcset="">
    <p>Spinner</p>
</div>

<div class="container mt-3" *ngIf="isLoaded">
    <div class="d-flex justify-content-end">
        <div>
            <app-filter
                [list]="filterList" 
                (onFilterChange)="filterChange($event)" >
            </app-filter>
        </div>
    </div>
    <div class="hide">
        <h4 class="my-3">Burgers</h4>
        <div class="row row-cols-1 row-cols-md-5  d-flex">
            <app-card *ngFor = "let produit of burgers" [produit]="produit" ></app-card>
        </div>
    </div>

    <div  class="hide">
        <h4 class="my-3">Menus</h4>
        <div class="row row-cols-1 row-cols-md-5 d-flex">
            <app-card *ngFor = "let produit of menus" [produit]="produit" ></app-card>
            <!-- <app-card *ngFor = "let produit of menus" [produit]="produit" [disable]="hidden"></app-card> -->
        </div>
    </div>

    <div  class="hide">
        <h4 class="my-3">Frites</h4>
        <div class="row row-cols-1 row-cols-md-5 d-flex">
            <app-card *ngFor = "let produit of frites" [produit]="produit"></app-card>
        </div>
    </div>

    <div  class="hide">
        <h4 class="my-3">Boissons</h4>
        <div class="row row-cols-1 row-cols-md-5 d-flex">
            <app-card *ngFor = "let produit of boissons" [produit]="produit"></app-card>
        </div>
    </div>


    <h4 class="my-3 filterResults" hidden >Résultats</h4>
    <div class="row row-cols-1 row-cols-md-5 d-flex" *ngIf="filtrage.length > 0">
        <app-card *ngFor = "let produit of filtrage" [produit]="produit"></app-card>
    </div>

    <h4 class="my-3 text-danger no-results" *ngIf="filtrage.length == 0" hidden>Pas de résultats</h4>  
</div>