<div class="container mt-3">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-8 d-flex flex-column align-items-center justify-content-center">
        <div class="card mb-3 w-100">
          <div class="card-body">
            <div class="">
              <h5 class="card-title text-center pb-0 fs-4 orange-text">Ajout de produits</h5>
            </div>

            <div class="d-flex justify-content-center align-items-center">
                <div class="w-25">
                    <select class="form-select mt-2" (change)="changeCategorie()" #categorie>
                        <option selected value="0">choisir</option>
                        <option value="menu">Menu</option>
                        <option value="burger">Burger</option>
                        <option value="frite">Frite</option>
                        <option value="taille_boisson">Boisson</option>
                        <option value="boisson">Variété boisson</option>
                    </select>
                </div>
            </div>
            <ng-container *ngIf="categorie.value != '0'"> 
                <form class="row mt-3 "
                    [formGroup]="reactiveForm"
                    (ngSubmit)="onSubmit()"
                    #form="ngForm" 
                >
                    <div class="row">
                        <div class="col-6">
                            <label for="nom" class="form-label">Nom <span class="text-danger">*</span></label>
                            <input type="text" formControlName="nom" class="form-control" id="nom">
                            <!-- <span class="form_error" *ngIf="f['nom'].getError('required')  && form.submitted">Le nom est requis !</span>
                            <span class="form_error" *ngIf="f['nom'].getError('minlength') && form.submitted" >Longueur minimale de 2 !</span> -->
                        </div>
                        <div class="col-6" *ngIf="categorie.value != 'boisson'">
                            <label for="prix" class="form-label">Prix <span class="text-danger">*</span></label>
                            <input type="number" formControlName="prix" class="form-control" id="prix" min="100">
                            <!-- <span class="form_error" *ngIf="f['prix'].getError('required')  && form.submitted">Le prix est requis !</span>
                            <span class="form_error" *ngIf="f['prix'].getError('min')  && form.submitted">Le prix est invalide, min:100 FCFA !</span>
                            <span class="form_error" *ngIf="f['prix'].getError('pattern')  && form.submitted">Le prix est invalide, min:100 FCFA !</span> -->
                        </div>
                    </div>

                    <div class="row mt-3" *ngIf="categorie.value == 'taille_boisson'">
                        <div class="col">
                            <label for="varietes">Variété <span class="text-danger">*</span></label>
                            <select name="" id="varietes" class="form-select" formControlName="boisson">
                                <option *ngFor="let v of varietesBoissons" value="{{v.id}}">{{v.nom}}</option>
                            </select>
                        </div>
                        <div class="col">
                            <label for="taille">Taille <span class="text-danger">*</span></label>
                            <select name="" id="taille" class="form-select" formControlName="taille">
                                <option  *ngFor="let taille of tabTailles" value="{{taille.id}}">{{taille.nom}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="row mt-3" *ngIf="categorie.value == 'taille_boisson'">
                        <div class="col">
                            <label for="quantiteStock" class="form-label">Stock <span class="text-danger">*</span></label>
                            <input type="number" formControlName="quantiteStock" class="form-control" id="quantiteStock" min="1">
                                <!-- <span class="form_error" *ngIf="f['quantiteStock'].getError('required')  && form.submitted">La quantité en stock est requise !</span>
                                <span class="form_error" *ngIf="f['quantiteStock'].getError('min')  && form.submitted">La quantité en stock est invalide, min:1 !</span>
                                <span class="form_error" *ngIf="f['quantiteStock'].getError('pattern')  && form.submitted">LLa quantité en stock est invalide, min:1 !</span> -->
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col" *ngIf="categorie.value == 'burger' || categorie.value == 'menu'">
                            <label for="detail">Détails</label>
                            <textarea id="detail" cols="30" rows="6" class="form-control" formControlName="detail"></textarea>
                        </div>
                        <div class="col mt-4">
                            <input type="file" id="avatar" 
                                formControlName="imageWrapper"  accept="image/png, image/jpeg"
                                (change) = "onFileChange($event)"
                            >
                            <label for="avatar" class="avatar">Choisir une image</label><span class="text-danger">*</span>
                            <div class="the_avatar col mt-3">
                                <label for="avatar"> <img src="img/simone-secci-49uySSA678U-unsplash.jpg" alt="Image" [src]="imageSrc" *ngIf="imageSrc"></label>
                            </div>
                            <!-- <span class="form_error" *ngIf="f['imageWrapper'].getError('required')  && form.submitted">L'image est requise !</span> -->
                        </div>
                    </div>
                  
                    <div class="row mt-3" *ngIf="categorie.value == 'menu'">
                        <p>Burgers</p>
                        <div class="row scrollBar" formArrayName="burgers">
                            <div *ngFor="let in = index; let burger of tabBurgers | async" class="m-5 content" >
                                <img src="{{'data:image/jpg;base64,' + burger.image}}" alt="">
                                <p class="mini">{{burger.nom | titlecase}}</p>
                                <div class="d-flex justify-content-around" style="width: 100px;"  (change)="onCheckboxChange($event)">
                                    <input type="checkbox" [value]="burger.id" >
                                    <input type="number" style="width: 45px;" min="0">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5" *ngIf="categorie.value == 'menu'">
                        <p>Frites</p>
                        <div class="row scrollBar">
                            <div *ngFor="let frite of tabFrites | async" class="m-5 content">
                                <img src="{{'data:image/jpg;base64,' + frite.image}}" alt="">
                                <p class="mini">{{frite.nom | titlecase}}</p>
                                <div class="d-flex justify-content-around" style="width: 100px;">
                                    <input type="checkbox" value="{{ frite.id}}">
                                    <input type="number" style="width: 45px;" min="0">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5" *ngIf="categorie.value == 'menu'">
                        <p>Tailles des boissons</p>
                        <div class="row scrollBar">
                            <div *ngFor="let taille of tabTailles | async" class="m-5 content">
                                <p>{{ taille.nom}}</p>
                                <div class="d-flex justify-content-around" style="width: 100px;">
                                    <input type="checkbox" value="{{ taille.id}}">
                                    <input type="number" style="width: 45px;" min="0">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-5 d-flex justify-content-center align-items-center">
                        <button class="btn btn-warning w-25" type="submit" #ajouter >Ajouter</button>
                    </div>
                </form> 
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>